body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: black;
    padding: 20px 100px;
}

.navbar a{
    color: #ccc;
    margin-right: 20px;
    text-decoration: none;
    font-size: 14px;
}

.text-title{
    font-size: 20px !important;
}

h1{
    text-align: center;
    font-weight: 100;
    margin: 30px;
    text-transform: uppercase;
}

table{
    margin: 20px auto;
}

input, select{
    height: 25px;
}

input, select, textarea{
    border-radius: 4px;
    border: 1px solid #ccc;
}

td{
    padding: 6px 10px;
}

label{
    display: block;
    text-align: end;
    font-size: 14px;
    font-weight: bold;
}

button{
    padding: 6px 9px;
    border: 0;
    border-radius: 4px;
    color: white;
}

.btn-blue{
    background-color: cornflowerblue;
}

.btn-red{
    background-color: crimson;
}